{% extends "template.html" %}
{% block content %}

    <div class="container content">

        <div class="poke-img">
            <img src="{{ dex }}" class="imagem-dex">
            <table class="poke-desc">
            <tbody>
                    <tr>
                        <td class="tipoback">Type</td>
                        {% for tips in type %}
                            <td id="poketype" class="tipovar">{{ tips }}</td>
                        {% endfor %}
                    </tr>
                    <tr>
                        <td id="pokehab" class="habsback">Habilities</td>
                        {% for skill in habs %}
                            <td class="habsvar">{{ skill }}</td>
                        {% endfor %}
                    </tr>
            </table>

        </div>
        <div class="poke-form">
            <form action="{{url_for('pokedex.index')}}" method="POST" style="align-itens: flex-end; justify-content:flex-end;">
                {{ form.hidden_tag() }}
                <h1>Pokedex v1.0</h1>
                <label class="poke-label">Que Pokemon está buscando?</label>
                {{ form.name(placeholder_="Ex:Pikachu") }}
                {{ form.button() }}
            </form>
        </div>

    </div>

{% endblock %}